<% if current_user %>
  <div class="dropdown">
    <a role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" class="nav-item btn btn-blue">
      <%= current_user.username if current_user %>
      <%= image_tag(current_user.navbar_avatar, class: 'navbar-pfp') if current_user %>
    </a>
    <ul class="dropdown-menu bg-dark">
      <div>
        <div class="ml-2">
          <%= link_to "Edit Account", edit_user_registration_path %> <br>
          <%= link_to "Private chat", user_path(current_user) %>
          <p class="text-white">
            <% user_role = current_user.role %>
            <b>Role:</b> <%= link_to "#{user_role}", user_path(current_user), class: "msg-role-#{user_role}" %>
          </p>
        </div>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn logout-btn' %>
      </div>
    </ul>
  </div>
<% end %>
